body {
  background-image: url("../img/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

div.jumbotron {
  background-image: url("../img/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border: solid;
}

div h1.title {
  color: #FF6347;
  font-family: cursive;
  text-align: center;
text-shadow: 2px 2px #8B0000;
font-size: 80px;

}

input#name {
  width: 300px;
}

div.container {
  margin-top: 20px;
}

div.selection {
  border: solid;
  min-height: 600px;
  background-color: white;
  opacity: .8;
  border-radius: 10px
}

div.output {
  border: solid;
  min-height: 600px;
    background-color: white;
    opacity: .8;
    border-radius: 10px
}

.final {
  border: solid;
  background-color: white;
  opacity: .8;
  border-radius: 10px
}

div.orderConfirm {
  display: none;
}

div.finalAddress {
  font-size: 30px;
  margin: 40px;

}

div.finalPrice {
  font-size: 20px;
  margin-top: 40px;

}

div.box {
  border-top: solid;
  border-bottom: solid;
  width: 200px;
  margin: 30px
}

div.finalHeader {
  margin: 40px;

}



button {
  border: solid;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  margin-bottom: 20px;
  border-color: black;

}
button:active {
  box-shadow: 2px 2px 2px #003300;
  transform: translate(3px, 3px);
}

button.checkOut {
 background-color: red;
}




p.options {
  font-size: 30px
}

.address {
  display: none;
}
.pizzaOrder {
  display: none;
}
.orderButton1 {
  display: none;
}
.orderCheckOut {
  display: none;
}

.street, .city, .state, .zip {
  border-color: red;
}
